<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
    <link rel="manifest" href="static/icon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private GPT</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="static/chat.js"></script>
</head>
<body>
    <div class="container">
        <h1>Private GPT</h1>
        <div id="balanceContainer">
            Available Balance: $<span id="balance">{{ balance }}</span>
        </div>
        <div id="threadSelectContainer">
            <select id="threadSelect"></select>
            <select id="assistantSelect"></select>
            <button id="newChatBtn">New Chat</button>
            <button id="deleteChatBtn">Delete Chat</button>
        </div>
        <div id="resultContainer">
            <div id="resultText" class="whitespace-pre-line"></div>
        </div>
        <textarea id="promptInput" placeholder="Enter your message"></textarea>
        <button id="generateBtn">Generate</button>
        <button id="stopBtn" disabled>Stop</button>
        <div id="notificationContainer"></div>
    </div>
</body>
</html>
